fastapi[standard]
pydantic_settings
sqlalchemy
alembic
asyncpg
colorama
requests
openai
beautifulsoup4
pgvector
docling
PyMuPDF
tiktoken
rich
ollama
litellm
python-jose[cryptography]
httpx
python-multipart
beir
numpy
redis
boto3